body {
    background-color: #1DB954;
}

img {
    position: absolute;
    top: -35px;
    left: 200px;
}

h1 {
    position: absolute;
    font-family: "Century Gothic", serif;
    font-size: 60px;
    color: white;
    top: 140px;
    left: 539px;
}

#results {
    color: white;
}

#playback {
    color: white;
}

form[hx-post] {
    position: absolute;
    top: 250px;
    left: 539px;
}

button {
    background-color: #1DB954;
    font-family: "Noto Sans Linear A", sans-serif;
    color: white;
    border-width: 5px;
    border-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1DB954;
}

div[hx-get="playback"] {
    color: #ddd;
}
