body {
    background-color: #444444;
}

h1 {
    font-family: "Century Gothic", serif;
    font-size: x-large;
    color: white;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1DB954;
}

#results {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f7f7f7;
}

div[id="playback"] {
    color: #ddd;
}
