<!DOCTYPE html>
<html lang="htmx">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <title>Welcome to SpotBox</title>
</head>
<body>
<img src="../static/SpotBoxlogo.png" alt="SpotBox logo">
<h1>SpotBox</h1>
<form hx-post="/add_to_queue" hx-target="#results" hx-swap="outerHTML" hx-after-swap="location.reload()">
    <label>
        <input type="text" name="query" placeholder="Search...">
    </label>
    <button type="submit">Add to Queue</button>
</form>
<h2><div class=results id="results"></div></h2>
<h3><div class=playback id="playback" hx-get="/playback" hx-trigger="load" hx-swap="outerHTML"></div></h3>
</body>
</html>