<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <title>Welcome to SpotBox</title>
</head>
<body>
<img src="../static/SpotBoxlogo.png" alt="SpotBox logo">
<h1>SpotBox</h1>
<form hx-post="/add_to_queue" hx-target="#results" hx-swap="outerHTML">
    <label>
        <input type="text" name="track" placeholder="Track">
        <input type="text" name="artist" placeholder="Artist">
    </label>
    <button onclick="window.setTimeout(function () {  window.location.reload();}, 5000)">Add to Queue</button>
</form>
<form hx-get="/playback" hx-target="#playback" hx-swap="outerHTML">
    <button onclick="window.setTimeout(function () {  window.location.reload();}, 5000)">Current Track</button>
</form>
<h3><div class=results id="results"></div></h3>
<h3><div class=playback id="playback"></div></h3>
</body>
</html>